body
{ 
   margin:0px;
   padding:0px;
   background:C:\Users\Cheruku Praveen\Desktop\REGISTRATION\images.jpg;
   background-size:cover;
   background-position:center;
  font-family:sans-serif;
}